include ../../node_modules/bemto.pug/bemto

mixin picture(webp, jpg, alt, cls)
  picture(class=cls data-lazy data-l-pict)
    source(data-l-srcset=webp type='image/webp')
    source(data-l-srcset=jpg type='image/jpeg')
    img(data-l-src=jpg alt=alt)

mixin picture-not-lazy(webp, jpg, alt, cls)
  picture(class=cls )
    source(srcset=webp type='image/webp')
    source(srcset=jpg type='image/jpeg')
    img(src=jpg alt=alt)

mixin info-card(icon, title, description, modifier, delay)
  - modifier = modifier || 'white'
  +b.DIV(class=`info-card_${modifier} animated` data-a-delay=delay)
    +e.IMG(data-lazy data-l-src=icon alt='Icon').icon
    +e.content
      +e.H4.title= title
      +e.P.description= description

mixin item-card(image, title, description, tags, option, footer)
  +b.item-card
    +picture(image+'.webp', image+'.jpg', 'Photo', 'item-card__image')
    +e.A(href='#').title.link= title
    +e.P.description= description
    +e.tags
      if tags !== ''
        each tag in ['Terrace', 'Outdoor-sauna']
          +b.tag= tag
    +e.P(data-option=option).footer= footer

mixin testimonial(photo, name, whois, speech)
  +b.testimonial
    +e.header
      +picture(photo+'.webp', photo+'.jpg', 'Photo', 'testimonial__image')
      +e.info
        +e.P.name= name
        +e.P.whois= whois
    +e.content= speech

mixin lang(modifier='', cls='')
  +b.SPAN(class='lang'+modifier :class=cls @click='clickLang') {{nowLang}}
    //+e.A(href='#').button Rus

mixin top-menu(modifier='', contact='', shadow='')
  +b.HEADER(id="header" class='top'+modifier)
    +e(class='wrapper')
      +e(class="top"+(modifier === '' ? ' content' : '') :class=`{\'active\' : activeMenu}`)
        +e.A(href="#").logo
          +e.IMG(data-lazy data-l-src="img/Logo.svg" alt="logo" class='logotip' :class='{\'disactive\': activeMenu}')
        +e.controls
          +b(class='contact' :class='{\'active\': !activeMenu}')
            +e.A(href="#").phone
            +e.A(href="tel:+380442233177").phone-number +38 044 22-33-177
            +e.A(href="mailto:info@allstar.ua").email info@allstar.ua
          +lang('', '{\'active\': activeMenu}')
          +b.A(class='burger' :class='{\'active\': activeMenu}' @click='activeMenu = !activeMenu')
            each i in [1, 2, 3, 4]
              +e(class=`element_${i}`)
      +e(class='menu content' :class='{\'active\': activeMenu}')
        +b.UL.main-nav
          +e.LI(@mouseenter="changeParentMenu($event)" @mouseleave="changeParentMenu($event)").item_parent
            +e.A(href="#").link Buy
            +e.UL.sub-nav
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Apartment for Sale" data-image-src="img/room").link Apartments for Sale in Kiev
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Houses for Sale" data-image-src="img/room1").link Houses for Sale in Kiev
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Offices for Sale" data-image-src="img/room").link Offices for Sale in Kiev
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Lands for Sale" data-image-src="img/room1").link Lands for Sale in Kiev
              +e.LI.image-li
                +picture('img/room.webp', 'img/room.jpg', 'Apartment for Sale', 'main-nav__image')
          +e.LI(@mouseenter="changeParentMenu($event)" @mouseleave="changeParentMenu($event)").item_parent
            +e.A(href="#").link Rent
            +e.UL.sub-nav
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Apartment for Rent" data-image-src="img/room1").link Apartments for Rent in Kiev
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Houses for Rent" data-image-src="img/room").link Houses for Rent in Kiev
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Offices for Rent" data-image-src="img/room1").link Offices for Rent in Kiev
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Lands for Rent" data-image-src="img/room").link Lands for Rent in Kiev
              +e.LI.image-li
                +picture('img/room1.webp', 'img/room1.jpg', 'Apartment for Rent', 'main-nav__image')
          +e.LI(@mouseenter="changeParentMenu($event)" @mouseleave="changeParentMenu($event)").item_parent
            +e.A(href="#").link Services
            +e.UL.sub-nav
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Service" data-image-src="img/room").link Service 1
              +e.LI(@mouseenter="changeSubMenuImage").item
                +e.A(href="#" data-alt="Service" data-image-src="img/room1").link Service 2
              +e.LI.image-li
                +picture('img/room.webp', 'img/room.jpg', 'Service', 'main-nav__image')
          +e.LI.item
            +e.A(href="#").link Useful Information
          +e.LI.item
            +e.A(href="#").link About
          +e.LI.item
            +e.A(href="#").link Contact
          +e.LI(class='big-image' data-lazy data-l-back='img/menu-tab.jpg')
        +b.menu-info
          +b(class='contact'+contact)
            +e.A(href="#").phone
              img(data-lazy data-l-src="/img/phone.svg" alt="phone")
            +e.A(href="tel:+380442233177").phone-number +38 044 22-33-177
            +e.A(href="mailto:info@allstar.ua").email info@allstar.ua
          +lang(shadow)

mixin we-can(modifier='')
  +b.SECTION(class='we-can'+modifier)
    +e.DIV(class='background' data-lazy data-l-back='img/back-2.jpg')
    +e(class='content content')
      +e.DIV(class='title' + (modifier === '_row' ? '' : ' inner'))
        +e.P(class='header').animated How we can help
      +e(class='service-wrapper')
        +b(class='service-card')
          +e.P.title Find a Property
          +e.P.text Need help in property search? Let us do this work for you and save your precious time. We will make hundreds of phone calls, weed out all fake and irrelevant listings, and you will get the perfect selection of verified apartments, houses or offices. Let us know what real estate you need!
          +e.A(class='button' href='#') Send request
      +e(class='service-wrapper')
        +b(class='service-card')
          +e.P.title For Landlords
          +e.P.text The best tenants in Kiev are here - embassies, top managers of international corporations and reputable businessmen. We sign long-term rental contracts, with a guarantee of the safety of property and stable payments. List your apartment or house!
          +e.A(class='button' href='#') List a Rental
      +e(class='service-wrapper')
        +b(class='service-card')
          +e.P.title For Sellers
          +e.P.text We are actively looking for investment-attractive objects in the center of Kiev for our foreign investors - apartments, houses, offices, land plots and detached buildings. Send information about your property and we will find a buyer.
          +e.A(class='button' href='#') List a Property

mixin footer(modifier='')
  +b.FOOTER(class='footer'+modifier)
    +b.NAV.footer-nav
      +b.nav-item
        +e.A.title Buy
        +e.UL.links
          each link in ['Apartments for Sale', 'Houses for Sale', 'Offices for Sale', 'Land for Sale']
            +e.LI.link-li
              +e.A(href='#').link= link
      +b.nav-item
        +e.A.title Rent
        +e.UL.links
          each link in ['Apartments for Rent', 'Houses for Rent', 'Offices for Rent']
            +e.LI.link-li
              +e.A(href='#').link= link
      +b.nav-item
        +e.A.title Service
        +e.UL.links
          each link in ['Find a Property', 'Find a Buyer/Tenant', 'Property Management', 'Real Estate Investment']
            +e.LI.link-li
              +e.A(href='#').link= link
      +b.nav-item
        +e.A.title About us
        +e.UL.links
          each link in ['All Star Kiev Realty', 'Contacts', 'Make an Inquiry']
            +e.LI.link-li
              +e.A(href='#').link= link
      +b.nav-item
        +e.A.title Useful Information
        +e.UL.links
          each link in ['Buying Property in Kiev', 'How to Rent an Apartment in Kiev', 'International Schools in Kiev', 'FAQ']
            +e.LI.link-li
              +e.A(href='#').link= link
    +b.global-info
      +e.socials
        each val in ['inst', 'youtube', 'twitter', 'telegram', 'facebook']
          +e.A(href='#').social-link
            +e.IMG(data-lazy data-l-src=`img/${val}.svg` alt=val).image
      +e.A(href='#').logo
        +e.IMG(data-lazy data-l-src='img/Logo-white.svg' alt='Logotip').logotip
      +e.info Specialized agency for the selection of real estate to foreign client

mixin inline-filter
  +b.DIV(class='inline-filter' :class='{\'opened\': options && isDesktop}').inline-filter
    +e.DIV(class='dropdown-wrapper js__hide-before-load' v-show='options' @click.self='options = !options')
      +e.dropdown-prewrapper
        +e.DIV(class='dropdown content')
          +e.block-1
            +b.DIV(class='search')
              +e.INPUT(type="text" v-model='searchCode' placeholder='Search by code').search-input
              +e.A(href="").search-button
            +b(class='multiple-check' ref='multipleCheck')
              +e.INPUT(type='text' v-model='bedroomsLabel' readonly @click='$event.target.parentElement.classList.toggle(\'extended\')').label //{{ bedroomsLabel }}
              +e.dropdown-menu
                +e.DIV(class='option' v-for='[key, value] in Object.entries(bedrooms)' :key='key' :class='{\'selected\': value}' @click='bedrooms[key] = !value') {{ key + ' Bedrooms' }}
            +b.number-range.size
              +e.label
                | Size,
                br
                | sqm
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='size.start').number-input
              +e.label_2._one-line To
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='size.end').number-input
            +b.V-SELECT(class='type' :searchable='false' v-model='district' :options='[\'1 District\', \'2 District\', \'3 District\']')
            +b.number-range.price-sqm
              +e.label
                | Price
                br
                | per sqm, $
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='pricePerSqm.start').number-input
              +e.label_2._one-line To
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='pricePerSqm.end').number-input
            +b.number-range.floor
              +e.label_one-line
                | Floor
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='floor.start').number-input
              +e.label_2._one-line To
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='floor.end').number-input
          +e.block-2
            +b.V-SELECT(class='type' :searchable='false' v-model='district1' :options='[\'1 District\', \'2 District\', \'3 District\']')
            +b.number-range.price-sqm
              +e.label
                | Price
                br
                | per sqm, $
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='pricePerSqm1.start').number-input
              +e.label_2._one-line To
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='pricePerSqm1.end').number-input
            +b.number-range.floor
              +e.label_one-line
                | Floor
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='floor1.start').number-input
              +e.label_2._one-line To
              +e.SPAN.number
                +e.INPUT(type='number' v-model.number='floor1.end').number-input

          +e.block-3
            +b.LABEL.checkbox Only with elevator
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList1[0]')
              +e.SPAN.mark
            +b.LABEL.checkbox Terrace
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList1[1]')
              +e.SPAN.mark
            +b.LABEL.checkbox Open balcony
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList1[2]')
              +e.SPAN.mark
            +b.LABEL.checkbox Sauna
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList1[3]')
              +e.SPAN.mark
            +b.LABEL.checkbox Penthouse
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList1[4]')
              +e.SPAN.mark
            +b.LABEL.checkbox Swimming pool
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList1[5]')
              +e.SPAN.mark
            +b.SPAN(@click='options = !options' class='more hidden') hide options -
          +e.block-4
            +b.LABEL.checkbox Only with elevator
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList2[0]')
              +e.SPAN.mark
            +b.LABEL.checkbox Terrace
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList2[1]')
              +e.SPAN.mark
            +b.LABEL.checkbox Open balcony
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList2[2]')
              +e.SPAN.mark
            +b.LABEL.checkbox Sauna
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList2[3]')
              +e.SPAN.mark
            +b.LABEL.checkbox Penthouse
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList2[4]')
              +e.SPAN.mark
            +b.LABEL.checkbox Swimming pool
              +e.INPUT(type='checkbox' class='input' v-model='checkboxList2[5]')
              +e.SPAN.mark
          +e.block-5
            +b.A(href='#').show_animate Show
    +e(class='main-wrapper')
      +e.DIV(class='main' :class='{\'opened\': isDesktop && options}')
        +e.buttons
          +b.V-SELECT(class='type_inline inline-filter__button' :searchable='false' v-model='typeService' :options='[\'Sale\', \'Rent\']')
          +b.V-SELECT(class='type_inline inline-filter__button' :searchable='false' v-model='apartment' :options='[\'Apartment\', \'Apartment 2\', \'Apartment 3\']')
          +b.DIV(class='dropdown-inline-filter inline-filter__button' @click.self='changeDownVisible($event.target)')
            span(@click.self='changeDownVisible($event.target.parentElement)').bird Price
            +e.dropdown-menu
              +e.LABEL.input-label From, $
                +e.SPAN.number
                  +e.INPUT(type='number' v-model.number='pricePerSqm1.start').number-input
              +e.LABEL.input-label To, $
                +e.SPAN.number
                  +e.INPUT(type='number' v-model.number='pricePerSqm1.end').number-input
          +b(class='multiple-check_inline inline-filter__button' ref='multipleCheck')
            +e.DIV(@click='$event.target.parentElement.classList.toggle(\'extended\')').label.bird {{ bedroomsLabel }}
            +e.dropdown-menu
              +e.DIV(class='option' v-for='[key, value] in Object.entries(bedrooms)' :key='key' :class='{\'selected\': value}' @click='bedrooms[key] = !value') {{ key + ' Bedrooms' }}
          +b.DIV(class='dropdown-inline-filter inline-filter__button' @click.self='changeDownVisible($event.target)')
            span(@click.self='changeDownVisible($event.target.parentElement)').bird Size
            +e.dropdown-menu
              +e.LABEL.input-label From, sqm
                +e.SPAN.number
                  +e.INPUT(type='number' v-model.number='size.start').number-input
              +e.LABEL.input-label To, sqm
                +e.SPAN.number
                  +e.INPUT(type='number' v-model.number='size.end').number-input
        +b.DIV(class='search')
          +e.INPUT(type="text" v-model='searchCode' placeholder='Search by code').search-input
          +e.A(href="").search-button
        +e.A(class='options' :class='{\'inline-filter__options_dark\': options}' @click.prevent='options = !options' :href='isDesktop ? \'#\' : \'\'' v-text='isDesktop ? "More options +" : \'\'')
        +b.A(class='show_animate' href='#') Show

mixin listings
  +b.SECTION.listing_1.slider.content
    +e.title.slider__title.inner
      +e.P.header.animated Hot Listings for Rent
    +e.controls.slider__controls
      +e.SPAN(class='slider__control-item slider__control-item_left show-animate' @click='$refs.siemaRent.prev()')
      +e.SPAN(class='slider__control-item slider__control-item_right show-animate' @click='$refs.siemaRent.next()')
    +e(data-init='siemaRent').siema-wrapper
      +e.SIEMA(class='siema' :ready='false' ref='siemaRent' :options='siemaCatalog' @init='initFoo(\'rent\')')
        each val in [1, 2, 3, 4, 5, 6, 7, 8]
          +item-card(`img/room-photo-${val}`, 'Gonchara Street 26', '3 bd, 121 sqm', true, 'Month/', '$ 5 000')
  +b.SECTION.gray-line
  +b.SECTION.listing_2.slider.content
    +e.title.slider__title.inner
      +e.P.header.animated Hot Listings for Sale
    +e.controls.slider__controls
      +e.SPAN(class='slider__control-item slider__control-item_left show-animate' @click='$refs.siemaSale.prev()')
      +e.SPAN(class='slider__control-item slider__control-item_right show-animate' @click='$refs.siemaSale.next()')
    +e(data-init='siemaSale').siema-wrapper
      +e.SIEMA(class='siema' :ready='false' ref='siemaSale' :options='siemaCatalog' @init='initFoo(\'sale\')')
        each val in [5, 6, 7, 8, 1, 2, 3, 4,]
          +item-card(`img/room-photo-${val}`, 'Gonchara Street 26', '3 bd, 121 sqm', '', '', '$ 157 000')

mixin listing
  +b.SECTION.listing.slider.content
    +e.title.slider__title.inner
      +e.P.header.animated Hot Listings for Rent
    +e.controls.slider__controls
      +e.SPAN(class='slider__control-item slider__control-item_left show-animate' @click='$refs.siemaRent.prev()')
      +e.SPAN(class='slider__control-item slider__control-item_right show-animate' @click='$refs.siemaRent.next()')
    +e(data-init='siemaRent').siema-wrapper
      +e.SIEMA(class='siema' :ready='false' ref='siemaRent' :options='siemaCatalog' @init='initFoo(\'rent\')')
        each val in [1, 2, 3, 4, 5, 6, 7, 8]
          +item-card(`img/room-photo-${val}`, 'Gonchara Street 26', '3 bd, 121 sqm', true, 'Month/', '$ 5 000')
